
/* Navbar */
.bg-light{
  background-color: #f8f9fa00 !important;
}
.navbar{
  padding: .5rem 3rem;
}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-item{
  margin-left: 20px;
}
/* Main */
.first-title{
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 130px;
  color: #129b9b;
  padding-top:120px
}
.second-title {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: left;
  font-size: 32px;
  color:#129b9b;
  margin: 30px 0;
}
.contains.second-part .second-title {
  color: white;
}
.contains{
  padding: 50px;
}
.contains.second-part{
  background-color: #129b9b;
}
.contains .text{
  text-align: justify;
} 
/* Home */
.small-letters{
  height: 500px;
  background-image: url(./img/fond-small.png);
  z-index: 1;
  position: relative;
}